
@font-face {
	font-family: 'thin';
	src: url('fonts/GraphikThin.otf') format('opentype');
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: 'regular';
	src: url('fonts/GraphikRegular.otf') format('opentype');
	font-weight: normal;
	font-size: normal;
}

@font-face {
	font-family: 'bold';
	src: url('fonts/GraphikBold.otf') format('opentype');
	font-weight: normal;
	font-size: normal;
}


body {
	margin: 0px;
}


h1 {
	font-size: 4vw;
	font-family: 'regular';

}

p {
	font-size:1.25vw;
	font-family: 'regular';
	line-height: 2.5vw;
}

h3 {
	font-size: clamp(.8rem, 2vw, 1.25rem);
	font-family: 'regular';
	line-height: .5vw;
}


h2{
	font-size: clamp(.5rem, 1.5vw, 1.75rem);
	font-family: 'regular';
	line-height: 2vw;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'regular';
	font-size: clamp(.8rem, 2vw, 1.25rem);
}


.wrapper {
	width: 100%;
	background-color: skyblue;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	aspect-ratio: attr(width) / attr(height);
	aspect-ratio: 1455 / 1960;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fad779; 
	margin-top: 0px;
	aspect-ratio: attr(width) / attr(height);
	aspect-ratio: 1455 / 150;

}

.headerimg {
	width: 13.75vw;
	max-width: 205px;
	min-width: 50px;
	display: flex;
	margin-right: 2vw;
}

.search-bar{
	width: 50%;
	height: 3.4vw;
	max-width: 600px;
	background: white;
	display: flex;
	align-items: center;
	border-radius: 5vw;
	padding: 0.687vw 1.375vw;
}


.search-bar input{
	width: 100%;
	height: 1.5vw;
	background: white;
	flex: 1;
	border: 0;
	outline: none;
	padding: 1.65vw 1.375vw;
	font-size: 1.375vw;
	border-radius: 5vw;
	color: darkgray;

}

::placeholder{
	color: lightgray;
}

.search-bar button img{
	width: 2.5vw;
}

.search-bar button {
	width: 4.124vw;
	height: 4.124vw;
	border: 0;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}




.bar {
	width: 100%;
	display: flex;
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	justify-content: center;
	text-align: center;
	aspect-ratio: attr(width) / attr(height);
	aspect-ratio: 1455 / 110;
}



.navClass > ul {
	display: flex;
	list-style-type: none;
	margin: 1vw;
	padding: 0;
	background-color: white;
	color: black;
	font-size: 1.5vw;
	
}

.navClass > ul > li {
	list-style-type: none;
	display: inline-block;
	padding: 2vw;
}

.navClass > ul > li:hover {
	background-color: lightyellow;
}

ul.sub-menu{
	position: absolute;
	font-size: 1.25vw;
	background-color: white;
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
	padding-top: 5px;
	opacity: 0;
	min-width: 100px;
	box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);

}

ul.sub-menu li{
	padding: .7vw;
}

.navClass li:hover .sub-menu{
	opacity: 1;
}

.navClass li:hover{
	color: black;
	background-color: lightyellow;
}


.imgarea {
	width: 100%;
	display: flex;
	background-image: url("images/bannerimg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
	margin-bottom: 0px;
	justify-content: center;
	align-items: center;
	text-align: center;
	aspect-ratio: attr(width) / attr(height);
	aspect-ratio: 1455 / 350;
}


.columnarea {
	width: 100%;
	display: flex;
	background-color: white;
	flex-wrap: wrap;
	margin-top: 0px;
	margin-bottom: 0px;
	aspect-ratio: attr(width) / attr(height);
	aspect-ratio: 1455 / 1000;
}


.column {
	width: 50%;
	flex: 1;
	margin: 5vw;
	display: flex;
	flex-wrap: wrap;
	min-width: 300px;
	background-color:;
}


.footerarea {
	display: flex;
	width: 100%;
	background-color: #fad779;
	aspect-ratio: attr(width) / attr(height);
	aspect-ratio: 1455 / 350;
}

.footer {
	width: 100%;
	height: 40vh;
	background-color: ;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.footer-heading {
	display: flex;
	flex-direction: column;
	margin-right: 6rem;
}

.footer-heading h2 {
	margin-bottom: 2rem;
}

.footer-heading a {
	margin-bottom: 2rem;
	color: black;
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.footer-heading a:hover {
	color: white;
	transition: 0.3s ease-out;
}

.footer-email-form h2 {
	margin-bottom: 2rem;
}

#footer-email {
	width: 250px;
	height: 40px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding-left: 0.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

#footer-email::placeholder {
	color: #b1b1b1;
}

#footer-email-btn {
	width: 100px;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 4px;
	background-color: white;
	font-size: 1rem;
}

#footer-email-btn:hover {
	cursor: pointer;
	background-color: #337AF1;
	transition: all 0.4s ease out;

}



